*  {
  font-family: 'segoe ui';
  font-size: 20px;
  margin: 0;
}


.mm {
   background: white;
   border: 5px solid;
   font-size: 25px;
   width: 30%;
   font-weight: bold ;
   color:black;
   text-align: center;
   text-decoration: underline;
}  


.money {
  background: magenta;
  border: 10px solid black;
  width: 30%;
  text-align: center;
}


#btn {
  background-color: rosybrown;
  font-size: 1.4rem;
  color: black;
  padding: 1rem 5rem;
  cursor: pointer;
  transition: all 0.5s;
  margin: 5px;
  text-align: center;
  border-radius: 50px;
  border: 2px;
}


#btn:hover{
 background: red;
 color: white;
}
